---
---

@import "{{ site.theme }}";

#contact-navigation, a {
  color: #ff00d7;
}

#cozy-computer {
  border-bottom: 1px solid pink;
}

#recurse-center-link {
  color: #4e8b1d;
  text-decoration: underline;
}

#post-word-count {
  color: darkgrey;
  font-size: 70%;
}

.footer {
  border-top: 1px solid pink;
}

.markdown-body h2 {
  border: none;
}
