---
---

@import "{{ site.theme }}";

#contact-navigation, a {
  color: #ff00d7;
}

#cozy-computer {
  border-bottom: 1px solid pink;
}

#recurse-center-link {
  color: #4e8b1d;
  text-decoration: underline;
}

.post-word-count {
  color: darkgrey;
  a {
    font-size: 1.1em;
  }
}

.footer {
  border-top: 1px solid pink;
}

.markdown-body h2 {
  border: none;
}

.journal-highlights {
  margin-bottom: 0px !important;
}

.journal-entry-header {
  color: #ff00d7;
  margin-bottom: 0px !important;
  font-weight: bold;
}
